@import "./../variables";
.box {
    display: block;
    border: 1px solid $lighter-grey;

    &-white {
        background-color: $white;
    }

    &__header,
    &__footer {
        padding:0.5em 1em;
    }

    &__header {
        border-bottom: 1px solid $lighter-grey;
    }
    &__body {
        padding:1em;
    }
    &__footer {
        border-top: 1px solid $lighter-grey;
    }
}