@import './../_variables';
@import './../_mixins';

.single-category {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    position:relative;
    
    &-active,
    &:hover {
        cursor: pointer;
        &:before {
            content:'';
            display: block;
            position: absolute;
            left:0;
            width:3px;
            height:50%;
            background-color:$black;
        }
    }
   
    &__title {
        align-self: flex-start;
        margin-left:0.5em;
    }
    &__button {
        margin-left:auto;
    }
}